footer {
   
    background-color: #3156a7;
    color: white;
    text-align: center;
    height: 7%;
  }
 

  /* .ftr-hdr-1 {
    padding-left: 0px;
    border-left: 3px solid #f0d800;
    border-right: 3px solid #f0d800;
    padding-bottom: 6px;
    color: #ffffff;
    font: 12px 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
  }
  
  .ftr-hdr-2 {
    color: #ffffff;
    font: 13px 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
    margin-left: 49px;
    margin-top: 0%;
  
  }
  
  .ftr-hdr-3 {
    color: #ffffff;
    font: 13px 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
    margin-left: 39px;
    margin-top: 0%;
  
  }
  
  .ftr-hdr-4 {
    color: #ffffff;
    font: 13px 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
    margin-left: 49px;
    margin-top: 0%;
    font-weight: bolder;
  }
  
  .text-f {
    color: #f0d800;
  }
  
  .copyright {
    font: 13px 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
    font-size: 15px;
    color: #ffffff;
    margin-inline: 0%;
    margin-top: 0%;
  
  }
  .ftr-hdr {
    color: #f0d800;
    font: 15px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
  }

  .center-config{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  */

  
 
  
 