<!-- <header>
    <nav class="navbar navbar-light ">
        <div class="right"> -->
<!-- <button type="button" class="btn boton btn-lg bg-red" (click)="logout()"><i class="fas fa-home fa-lg"></i>
            </button> -->
<!-- <a class="navbar-brand" href="#">AIC EPS-I</a> 
            <img class="imgs" src="../../../assets/img/logo.png">-->
<!-- <h2 class=" text-f fa-2x "> SISTEMA DE INVENTARIOS ESE TIERRADENTRO</h2>
        </div>       
   
    <span class="example-spacer"></span> -->
<!-- *ngIf="!isLoggedIn" [routerLink]="'/login'" -->
<!-- <h3 class="color text-f"> Iniciar Sesion</h3>
    <a type="button" class="user-profile text-f" >
        <i class="fas fa-fingerprint fa-2x"></i>
    </a>
</nav>
</header> -->
<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img class="mt-4 -2" src="../../../../assets/img/dvp-logo.svg" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
              aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                            Menú
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" routerLink="/home">Inicio</a></li>
                            <li><a class="dropdown-item" routerLink="/home/registro">Gestion Usuario</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>